.Board {
    margin: 30px;
    font-family: 'Roboto', 'Arial', sans-serif;
}

.FlexRow {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.FlexRow > * {
    margin: auto;
}

.Controls {
    margin: 10px;
    padding: 10px;
    border: 1px black solid;
}

.Controls > * {
    width: 100%;
}